@use "../../../scss/variables" as v;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.938rem 1.5rem;
    &__title {
        font-size: 1.625rem;
        line-height: auto;
    }
    &__color-mode {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: none;
        background-color: transparent;
        &-text {
            font-size: .813rem;
            text-transform: uppercase;
            letter-spacing: 2.5008px;
            font-weight: bold;
            color: v.$Greyish-Blue;
        }
        &-icon {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        max-width: 573px;
        margin: auto;
        padding-inline: 0;
        padding-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        min-width: 730px;
        max-width: 730px;
        padding-bottom: 2.25rem;
    }
}