<section class="user-info" [class.darkMode]="!isLightMode">
    <div class="user-info__profile">
        <img [src]="user ? user.avatar_url : 'octocat.png' " alt="" class="user-info__profile-picture">
        <div class="user-info__profile-info">
            <h2 class="user-info__profile-name">{{ user ? user.name : "The Octocat" }}</h2>
            <span class="user-info__profile-login">&#64;{{ user ? user.login : 'octocat' }}</span>
            <p class="user-info__profile-createdAt" [class.darkModeText]="!isLightMode">Joined {{ user ? (user.created_at | date:'dd MMM YYYY') : '25 Jan 2011' }}</p>
        </div>
    </div>
    
    <p class="user-info__bio" [class.darkModeText]="!isLightMode">
        <span *ngIf="!user">This profile has no bio</span>
        <span *ngIf="user && user.bio">{{ user.bio }}</span>
        <span *ngIf="user && (user.bio === '' || user.bio === null)">This profile has no bio.</span>
    </p>

    <div class="user-info__stats" [class.darkMode-stats]="!isLightMode">
        <div class="user-info__stats-item">
            <p class="user-info__stats-item-title"[class.darkModeText]="!isLightMode">
                Repos
            </p>
            <p class="user-info__stats-item-number" [class.darkModeText]="!isLightMode">
                {{ user ? user.public_repos : '8' }}
            </p>
        </div>
        <div class="user-info__stats-item">
            <p class="user-info__stats-item-title" [class.darkModeText]="!isLightMode">
                Followers
            </p>
            <p class="user-info__stats-item-number" [class.darkModeText]="!isLightMode">
                {{ user ? user.followers : '3938' }}
            </p>
        </div>
        <div class="user-info__stats-item">
            <p class="user-info__stats-item-title" [class.darkModeText]="!isLightMode">
                Following
            </p>
            <p class="user-info__stats-item-number" [class.darkModeText]="!isLightMode">
                {{ user ? user.following : '9' }}
            </p>
        </div>
    </div>

    <app-user-contact-info [user]="user" class="user-info__contact-info"></app-user-contact-info>
</section>