<section class="user-info">
    <div class="user-info__profile">
        <img src="octocat.png" alt="" class="user-info__profile-picture">
        <div class="user-info__profile-info">
            <h2 class="user-info__profile-name">The Octocat</h2>
            <span class="user-info__profile-login">&#64;octocat</span>
            <p class="user-info__profile-createdAt">Joined 25 Jan 2011</p>
        </div>
    </div>
    
    <p class="user-info__bio">
        Lorem ipsum dolor sit amet, consectetuer adipiscing eat. Donec odio. Quisque volutpat mattis eros.
    </p>

    <div class="user-info__stats">
        <div class="user-info__stats-item">
            <p>Repos</p>
            <p>8</p>
        </div>
        <div class="user-info__stats-item">
            <p>Followers</p>
            <p>3938</p>
        </div>
        <div class="user-info__stats-item">
            <p>Following</p>
            <p>9</p>
        </div>
    </div>

    <div class="user-info__contact-info">
        <a class="user-info__contact-info-item">
            <img src="icon-location.svg" alt="">
            San Francisco
        </a>
        <a class="user-info__contact-info-item">
            <img src="icon-website.svg" alt="">
            https://github.blog
        </a>
        <a class="user-info__contact-info-item user-info__contact-info-item--not-available">
            <img src="icon-twitter.svg" alt="">
            Not Available
        </a>
        <a class="user-info__contact-info-item">
            <img src="icon-company.svg" alt="">
            &#64;github
        </a>
    </div>

</section>