<section class="user-info" [class.darkMode]="!isLightMode">
    <div class="user-info__profile">
        <img src="octocat.png" alt="" class="user-info__profile-picture">
        <div class="user-info__profile-info">
            <h2 class="user-info__profile-name">The Octocat</h2>
            <span class="user-info__profile-login">&#64;octocat</span>
            <p class="user-info__profile-createdAt" [class.darkModeText]="!isLightMode">Joined 25 Jan 2011</p>
        </div>
    </div>
    
    <p class="user-info__bio" [class.darkModeText]="!isLightMode">
        This profile has no bio
    </p>

    <div class="user-info__stats" [class.darkMode-stats]="!isLightMode">
        <div class="user-info__stats-item">
            <p 
                class="user-info__stats-item-title"
                [class.darkModeText]="!isLightMode" >Repos
            </p>
            <p 
                class="user-info__stats-item-number" 
                [class.darkModeText]="!isLightMode" >8
            </p>
        </div>
        <div class="user-info__stats-item">
            <p 
                class="user-info__stats-item-title" 
                [class.darkModeText]="!isLightMode" >Followers
            </p>
            <p 
                class="user-info__stats-item-number" 
                [class.darkModeText]="!isLightMode" >3938
            </p>
        </div>
        <div class="user-info__stats-item">
            <p 
                class="user-info__stats-item-title" 
                [class.darkModeText]="!isLightMode" >Following
            </p>
            <p 
                class="user-info__stats-item-number" 
                [class.darkModeText]="!isLightMode" >9
            </p>
        </div>
    </div>

    <div class="user-info__contact-info">
        <a 
            class="user-info__contact-info-item" 
            [class.darkModeText]="!isLightMode"

        >
            <img [src]="isLightMode ? 'icon-location.svg' : 'icon-location-white.svg'" alt="">
            San Francisco
        </a>
        <a 
            class="user-info__contact-info-item" 
            [class.darkModeText]="!isLightMode"

        >
            <img [src]="isLightMode ? 'icon-website.svg' : 'icon-website-white.svg'" alt="">
            https://github.blog
        </a>
        <a 
            class="user-info__contact-info-item user-info__contact-info-item--not-available" 
            [class.darkModeText]="!isLightMode"

        >
            <img [src]="isLightMode ? 'icon-twitter.svg' : 'icon-twitter-white.svg'" alt="">
            Not Available
        </a>
        <a 
            class="user-info__contact-info-item" 
            [class.darkModeText]="!isLightMode"

        >
            <img [src]="isLightMode ? 'icon-company.svg' : 'icon-company-white.svg'" alt="">
            &#64;github
        </a>
    </div>

</section>