@use "./scss/variables" as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$Space-Mono;
    list-style-type: none;
}

body {
    background-color: v.$Off-White;
    transition: background-color .3s ease;
}

.darkMode-bg {
    background-color: v.$Very-Dark-Blue;
}

@media screen and (min-width: 768px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}