@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$Blue: #0079FF;
$Grey: #697C9A;
$Greyish-Blue: #4B6A9B;
$Dark-Grey: #2B3442;
$Off-White: #F6F8FF;
$White: #ffffff;
$Dark-Blue: #1E2A47;
$Very-Dark-Blue: #141D2F;
$Space-Mono: "Space Mono", sans-serif;
